#bounce {
    position: relative;
}

.canvas {
    background-color: #87CEFA;
}

.debugCanvas {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

#resumeButton {
    display: none;
}
