#bounce {
    position: relative;
    width: 600px;
    height: 600px;
}

.canvas {
    background-image: url('../resources/background@2x.png');
    background-repeat: no-repeat;
    background-size: 600px 600px;
}

.debugCanvas {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

#resumeButton {
    display: none;
}

.victory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    display: none;
    text-align: center;
}

.gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    display: none;
    text-align: center;
}

.caption {
    margin-top: 18%;
    font-size: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.victory .caption {
    color: #37ab2e;
}

.gameOver .caption {
    color: #b6241c;
}

.volumeBlock {
    position: absolute;
    right: 15px;
    bottom: 4px;
}

.pauseBlock {
    position: absolute;
    right: 40px;
    bottom: 4px;
}

.volume, .playPause {
    font-size: 20px;
    color: #777777;
    cursor: pointer;
}

.volumeOff {
    display: none
}

.play {
    display: none;
}
